<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drewniany kościół w Jasienicy Rosielnej</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
     <h1>Drewniany kościół w Jasienicy Rosielnej</h1>
   <div class="topnav">
   <a href="main.html" class="active">STRONA GŁÓWNA</a>
   <a href="zdjecia.html">MATERIAŁY DODATKOWE</a>
   <a href="../zwyklyPath.html">KOŚCIÓŁ - ŚCIEŻKA</a>
    <a href="../oponaPath.html">OPONA - ŚCIEŻKA</a>
   <a href="../grobPath.html">GRÓB - ŚCIEŻKA</a>
   <a href="../cmentarzPath.html">CMENTARZ - ŚCIEŻKA</a>
   </div> 
   </div>
<div class="cent">
  <br>
  <fieldset>
  <legend><h3>Drewniany kościół w Jasienicy Rosielnej</h3></legend>
  <br>
  <img src="photos/nastron.jpg" alt="widok na drewniany kościół w Jasienicy Rosielnej od strony plebanii" style="width:800px;height:400px;" class="center">
  <div style="text-align:center;">
    <p>widok na kościół od strony plebanii</p>
    <br>
  </div>
  <div class="incent">
    <div class="incent2">
      <h2>O KOŚCIELE</h2>
<p>Drewniany kościół w Jasienicy Rosielnej (Pogórze Dynowskie) został wzniesiony w 1770 roku. Jest to wyjątkowy zabytek Podkarpacia.<br>
  Praktykowane w nim są nadal unikatowe obrzędy związane z Wielkim Postem.</p>
<p>Został wzniesiony w 1770 roku z fundacji Ignacego i Marianny Załuskich, odnawiany kilkukrotnie w XIX oraz XX wieku.
  <br>Wzorowany był na dawnej, nieistniejącej już farze dubieckiej, budowany 
w konwencji sakralnego budownictwa barokowego na terenie Małopolski.</p>
<p>Ściany zewnętrzne wykonane zostały w konstrukcji zrębowej z ociosanych na kant bierwion jodłowych, wiązanych na zamki ciesielskie bez ostatków.<br> Spoczywają one na dębowej podwalinie, której bazę stanowi kamienne podmurowanie, pokryte od zewnątrz wapiennym tynkiem.<br> Według myśli średniowiecznej, konstrukcja składa się z dwóch członów: prostokątnego prezbiterium,
od wschodu zamkniętego trójbocznie i znacznie szerszego, założonego na rzucie zbliżonym do kwadratu korpusu nawowego. Pod kościołem istniały, obecnie niedostępne, krypty grobowe.
Po bokach prezbiterium mieszczą się dwie symetryczne przybudówki: zakrystia i składzik.
Trójwieżowy prospekt organowy pochodzi z XVIII w., umieszczony jest w centralnej części chóru. Poddano go przebudowie w 1926 roku.</p>
<p>Na wieży południowej umieszczony jest oryginalny zegar z 1810 roku.</p>
<p>W ołtarzu głównym znajduje się obraz Koronacji Matki Boskiej z XVII wieku, przesłaniany zasuwą z wizerunkiem Matki Boskiej Niepokalanie Poczętej line-break: normal;z przełomu XVIII i XIX w., a w bocznych – obrazy św. Antoniego (ołtarz lewy, dodatkowo motywy Świętej Rodziny w zwieńczeniu<br> i Serca Pana Jezusa w predelli) i św. Onufrego (ołtarz prawy, dodatkowo wizerunki św. Franciszka i Serca Matki Boskiej, analogicznie do lewego).<br> Współczesna ołtarzom jest ambona. Jej konstrukcję wypełnia snycerski ornament rokokowy. Na baldachimie ambony znajduje się figura Matki Boskiej.</p>
<p>Ściany świątyni zdobią portrety jej fundatorów oraz liczne epitafia poświęcone członkom rodziny Załuskich.<br> Na ścianie międzywieżowej kruchty znajduje się nadpalony krucyfiks, ocalały z pożaru kościoła cmentarnego w 1970 roku.<br> Strop świątyni, jak również ściany, zdobi wielokrotnie przemalowywana na przestrzeni lat iluzjonistyczna polichromia pochodząca z 1870 roku, oryginalnie autorstwa Jana Tabińskiego. Niestety, malowana dekoracja ścian przysłoniła pierwotne (aktualnie widoczne) zacheuszki.<br> Stacje drogi krzyżowej, wiszące na ścianach świątyni, namalowane zostały przez Jana Tabińskiego.</p>
<p>Do ogrodzenia świątyni przylega murowana kaplica Matki Boskiej Niepokalanie Poczętej, pochodząca z XIX wieku.<br> Wartości historycznej kościołowi dodaje również rokokowe snycerskie wyposażenie ruchome, pochodzące sprzed 1790 roku.</p>

<br>
      <h2>OPONA</h2>

<p>W okresie Wielkiego Postu, w jasienickim drewnianym kościele zostaje wystawiona “opona”, czyli płótno zakrywające retabulum ołtarza głównego.<br> 
  Widnieje na nim olejne malowidło przedstawiające ukrzyżowanie Chrystusa, wraz z Matką Boską, św. Janem i św. Marią Magdaleną <br>stojącymi pod krzyżem na tle Jerozolimy.
  Na namalowanych filarach ukazane zostały narzędzia  Męki Pańskiej. Opona na ołtarzu wieszana jest przed Środą Popielcową, gdzie wisi do Wielkiego Czwartku.</p>

<br>

<h2>GRÓB PAŃSKI</h2>

<p>Parafianie wprowadzają do kościoła Boży Grób w Wielki Piątek. Zakrywa on retabulum ołtarza głównego. <br>Aktualna dekoracja nie istniała przed 1790 rokiem. 
  Iluzjonistyczny Grób Jezusa składa się z połączonych elementów na kształt kulis, znajdujących się na drewnianej konstrukcji, której głównym elementem jest poprzeczna belka,
  rozpięta na całą szerokość prezbiterium.<br> Górną część dekoracji stanowi malowidło przedstawiające Boga Ojca przyjmującego ciało zmarłego Jezusa.<br>
  Boczne skrzydła przedstawiają Matkę Boską, św. Marię Magdalenę, Józefa z Arymatei i Nikodema oraz dwóch żołnierzy rzymskich. <br>
  Centralna część dekoracji przedstawia Jezusa w grobie. Jest ona umieszczona za trzema kulisami, które mają na celu stworzenie efektu głębi. Widnieje tam obraz dwóch aniołów adorujących Najświętszy Sakrament, 
  ustawiany na tle tabernakulum.<br>
  Zachowana w jasienickim kościele dekoracja grobu jest jedyną taką w południowo-wschodniej Polsce.</p>
<br>
    </div>
  </div>
</fieldset>
</div>
</body>
</html>