<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drewniany kościół w Jasienicy Rosielnej</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
     <h1>Drewniany kościół w Jasienicy Rosielnej</h1>
   <div class="topnav">
   <a href="main.html">STRONA GŁÓWNA</a>
   <a href="../zwyklyPath.html">KOŚCIÓŁ – ŚCIEŻKA</a>
   <a href="../oponaPath.html">OPONA – ŚCIEŻKA</a>
   <a href="../grobPath.html">GRÓB – ŚCIEŻKA</a>
   <a href="../cmentarzPath.html">CMENTARZ – ŚCIEŻKA</a>
   <a href="zdjecia.html" class="active">MATERIAŁY DODATKOWE</a>
   </div> 
   </div>
<div class="cent">
  <br>
  <fieldset>
  <legend><h3>Wejście na górę przez wieżę lewą, organy</h3></legend>
  <img src="photos/balk4.jpg" alt="schody na wieży" class="center">
  <br>
  <img src="photos/balk3.jpg" alt="ławki na górze kościoła" class="center">
  <br>
  <img src="photos/balk2.jpg" alt="organy kościelne" class="center">
  <br>
  <img src="photos/balk1.jpg" alt="balkon" class="center">
  <br>
  </fieldset>
  <br>
  <fieldset>
  <legend><h3>Składzik (dawna zakrystia)</h3></legend>
  <img src="photos/skladzik.jpg" alt="składzik" class="center">
  <br>
  <img src="photos/skladzik2.jpg" alt="składzik" class="center">
  <br>
  </fieldset>
  <br>
  <fieldset>
  <legend><h3>Zakrystia</h3></legend>
  <img src="photos/zakrystia.jpg" alt="zakrystia" class="center">
  <br>
  <img src="photos/zakrystia2.jpg" alt="zakrystia" class="center">
  <br>
  </fieldset>
  <br>
  <fieldset>
  <legend><h3>Wieża prawa, w której trzymany jest Boży Grób</h3></legend>
  <img src="photos/wieza grob.jpg" alt="Boży Grób trzymany w wieży" class="center">
  <br>
  <img src="photos/grob2.jpg" alt="wieża bez Bożego Grobu" class="center">
  <br>
  </fieldset>
  <br>
  <fieldset>
  <legend><h3>Kronika parafialna</h3></legend>
  <img src="photos/kronika/kronika1.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika2.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika3.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika4.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika5.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika6.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika7.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika8.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika9.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika10.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika11.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika12.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika13.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika14.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika15.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika16.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika17.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika18.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika19.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika20.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika21.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika22.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika23.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika24.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika25.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika26.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika27.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika28.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika29.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika30.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika31.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika32.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika33.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika34.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika35.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika36.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika37.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika38.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika39.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika40.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika41.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika42.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika43.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika44.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika45.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika46.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika47.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika48.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika49.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika50.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika51.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika52.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika53.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika54.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika55.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika56.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika57.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika58.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika59.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika60.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika61.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika62.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika63.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika64.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika65.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika66.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika67.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika68.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika69.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika70.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika71.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika72.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika73.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika74.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika75.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika76.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika77.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika78.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika79.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika80.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika81.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika82.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika83.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika84.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika85.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika86.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika87.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika88.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika89.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika90.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika91.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  <img src="photos/kronika/kronika92.jpg" alt="kronika parafialna- treść" class="center">
  <br>
  </fieldset>
  <br>
  </div>
</body>
</html>