<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drewniany kościół w Jasienicy Rosielnej</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
     <h1>Drewniany kościół w Jasienicy Rosielnej</h1>
   <div class="topnav">
   <a href="main.html">STRONA GŁÓWNA</a>
   <a href="zdjecia.html" class="active">MATERIAŁY DODATKOWE</a>
   <a href="../zwyklyPath.html">KOŚCIÓŁ - ŚCIEŻKA</a>
    <a href="../oponaPath.html">OPONA - ŚCIEŻKA</a>
   <a href="../grobPath.html">GRÓB - ŚCIEŻKA</a>
   <a href="../cmentarzPath.html">CMENTARZ - ŚCIEŻKA</a>
   </div> 
   </div>
<div class="cent">
  <br>
  <fieldset>
  <legend><h3>Wejście na górę przez wieżę lewą, organy</h3></legend>
  <img src="photos/balk4.jpg" alt="schody na wieży" style="width:800px;height:400px;" class="center">
  <br>
  <img src="photos/balk3.jpg" alt="ławki na górze kościoła" style="width:800px;height:400px;" class="center">
  <br>
  <img src="photos/balk2.jpg" alt="organy kościelne" style="width:800px;height:400px;" class="center">
  <br>
  <img src="photos/balk1.jpg" alt="balkon" style="width:800px;height:400px;" class="center">
  <br>
  </fieldset>
  <br>
  <fieldset>
  <legend><h3>Składzik (dawna zakrystia)</h3></legend>
  <img src="photos/skladzik.jpg" alt="składzik" style="width:800px;height:400px;" class="center">
  <br>
  <img src="photos/skladzik2.jpg" alt="składzik" style="width:800px;height:400px;" class="center">
  <br>
  </fieldset>
  <br>
  <fieldset>
  <legend><h3>Zakrystia</h3></legend>
  <img src="photos/zakrystia.jpg" alt="zakrystia" style="width:800px;height:400px;" class="center">
  <br>
  <img src="photos/zakrystia2.jpg" alt="zakrystia" style="width:800px;height:400px;" class="center">
  <br>
  </fieldset>
  <br>
  <fieldset>
  <legend><h3>Wieża prawa, w której trzymany jest Boży Grób</h3></legend>
  <img src="photos/wieza grob.jpg" alt="Boży Grób trzymany w wieży" style="width:800px;height:400px;" class="center">
  <br>
  <img src="photos/grob2.jpg" alt="wieża bez Bożego Grobu" style="width:800px;height:400px;" class="center">
  <br>
  </fieldset>
  <br>
  <fieldset>
  <legend><h3>Kronika parafialna</h3></legend>
  </fieldset>
  <br>
  </div>
</body>
</html>